MONGOOSE_URL = "Your MongoDB connection string here"
JWT_USER_SECRET = "Your JWT secret for user authentication here"
JWT_ADMIN_SECRET = "Your JWT secret for admin authentication here"
JWT_DOCTOR_SECRET = "Your JWT secret for doctor authentication here"